<tr>
    <td><label class="align-middle" for="{{ slug }}">{{ label }}</label></td>
    <td><input class="form-control" id="{{ slug }}" name="{{ slug }}[main]"></td>
    <td><button type="button" class="btn btn-light" data-id="{{ slug }}">...</button></td>
</tr>
