<tr>
    <td><label class="align-middle" for="{{ slug }}">{{ label }}</label></td>
    <td>
        <input class="form-control" id="{{ slug }}" name="{{ slug }}[main]">
        {% if suggestion is defined %}
            <div class="form-check">
                <input class="form-check-input" id="name_suggestion" type="checkbox">
                <label for="name_suggestion" class="form-check-label">Гибкий поиск</label>
            </div>
        {% endif %}
    </td>
    <td>
        <button type="button" class="btn btn-light" data-id="{{ slug }}">...</button>
    </td>
</tr>