{% extends 'base.html.twig' %}
{% block title %}Отчёт{% endblock %}
{% block body %}
    <h1>Отчёт</h1>
    {% if rows %}
        <table class="table table-striped w-auto">
            <thead>
            <tr>
                <th>Материал (номер)</th>
                <th>Дата создания (YYYYMMDD)</th>
                <th>Группа</th>
                <th>Имя пользователя</th>
                <th>Вид материала</th>
                <th>Наименование</th>
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.MATNR }}</td>
                    <td>{{ row.ERSDA }}</td>
                    <td>{{ row.MATKL }}</td>
                    <td>{{ row.ERNAM }}</td>
                    <td>{{ row.MTART }}</td>
                    <td>{{ row.MAKTX }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Результатов не найдено</p>
    {% endif %}
    {% if pages|length > 1 %}
        <p class="pagination">Страницы:
            {% for page, url in pages %}
                <span>
                {% if page == current %}
                    {{ page }}
                {% else %}
                    <a href="{{ url }}">{{ page }}</a>
                {% endif %}
            </span>
            {% endfor %}
        </p>
    {% endif %}
    <form action="{{ path('main_index') }}"><button type="submit" class="btn btn-primary">Вернуться к форме</button></form>
{% endblock %}